extends ../base.pug

block body
  | {% import "bootstrap/utils.html" as utils %}
  .content-section
    .outer
      .middle
        .inner
          br
          | {{utils.flashed_messages() }}
          br
          h1(style="text-align: center;") Employees
          | {% if employees %}
          hr.intro-divider
          .center
            table(class="table table-striped table-bordered")
              thead
                tr
                  td(width="15%") Name
                  td(width="30%") Department
                  td(width="30%") Role
                  td(width="15%") Assign
              tbody
                | {% for employee in employees %}
                | {% if employee.is_admin %}
                tr(style="background-color: #aec251; color: white;")
                  td <i class="fa fa-key"></i> Admin
                  td N/A
                  td N/A
                  td N/A
                | {% else %}
                tr
                  td {{ employee.first_name }} {{ employee.last_name }}
                  td 
                    | {% if employee.department %}
                    | {{ employee.department.name }}
                    | {% else %}
                    | -
                    | {% endif %}
                  td 
                    | {% if employee.role %}
                    | {{ employee.role.name }}
                    | {% else %}
                    | -
                    | {% endif %}
                  td 
                    a(href="{{ url_for('admin.assign_employee', id=employee.id) }}")  <i class="fa fa-user-plus"></i> Assign
                | {% endif %}
                | {% endfor %}
          | {% endif %}
