extends ../base.pug

block body
  | {% import "bootstrap/wtf.html" as wtf %}
  .content-section
    .outer
      .middle
        .inner
          .center
            | {% if add_department %}
            h1 Add Role
            | {% else %}
            h1 Edit Role
            | {% endif %}
            br
            | {{ wtf.quick_form(form) }}
